<div class="container">
			<div class="row">
				<div class="col-md-3">
	
					<div class="panel panel-default">
						<div class="panel-heading panel-heading1">
							<h3 class="panel-title">Danh mục</h3>

						</div>
						<ul class="list-group">
							<li class="list-group-item list-group-item2"><a href="#">Xe cộ</a></li>
							<li class="list-group-item list-group-item2"><a href="#">Bất động sản</a></li>
							<li class="list-group-item list-group-item2"><a href="#">Đồ điện tử</a></li>
							<li class="list-group-item list-group-item2"><a href="#">Thời trang, đồ dùng cá nhân</a></li>
							<li class="list-group-item list-group-item2"><a href="#">Nội ngoại thất, Đồ dùng gia dụng</a></li>
							<li class="list-group-item list-group-item2"><a href="#">Các loại khác</a></li>
							</ul>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading panel-heading1">
							<h3 class="panel-title">Loại tin</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item list-group-item1 list-group-item2"><input type="radio" name="gender" value="male"> Tất cả</li>
							<li class="list-group-item list-group-item1 list-group-item2"><input type="radio" name="gender" value="male"> Cần bán </li>
							<li class="list-group-item list-group-item1 list-group-item2"><input type="radio" name="gender" value="male"> Cần mua</li>
							
						</ul>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading panel-heading1">
							<h3 class="panel-title">Thành phố</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item list-group-item1 list-group-item2"><input type="checkbox" name="gender" value="male"> Toàn quốc</li>
							<li class="list-group-item list-group-item1 list-group-item2"><input type="checkbox" name="gender" value="male"> Hồ chí minh</li>
							<li class="list-group-item list-group-item1 list-group-item2"><input type="checkbox" name="gender" value="male"> Hà nội</li>
						</ul>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading panel-heading1">
							<h3 class="panel-title">Xiếp theo</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item list-group-item1 list-group-item2"><input type="radio" name="gender" value="orderby">Mới nhất</li>
							<li class="list-group-item list-group-item1 list-group-item2"><input type="radio" name="gender" value="orderby">Cũ nhất</li>
						</ul>
					</div>
				</div>

				<div class="col-md-9">
					<div class="panel panel-default">
						<div class="panel-heading panel-heading2">
							<ul class="nav nav-pills">
								<li class="active"><a class="a_li" href="#home">Tất cả<span class="badge">4</span></a></li>
								<li><a class="a_li" href="#menu1">Cần bán <span class="badge">4</span></a></li>
								<li><a class="a_li" href="#menu2">Cần mua <span class="badge">4</span></a></li>	
							</ul>
							
						</div>
						
						<ul class="list-group">
							<li class="list-group-item">
							
								<div class="list-content">
									<a href="#"><h2>Tiêu đề bài viết</h2></a>
									<div class="decription">
										<ul class="ul_decription">
											<li class="li_decription">
												<p>thành phố hồ chí minh</p>
												<p>thuộc danh mục</p>
											</li>
											<li class="li_decription">
												<p>giá tiền : 500000</p>
											</li>
											<li class="li_decription li_decription_last">
												<p>Cá nhân</p>
											</li>

										</ul>
										
									</div>
									<div class="content_detail">
										<p>dfgalk klfhas f lkdfjslkjf kjfdfjl toi d ffdfoi dkfjodif dtran van phi ho vaf ten nganh tin hoc ung dung dfjl toi d ffdfoi dkfjodif dtran van phi ho vaf ten nganh tin hoc ung dung dfjl toi d ffdfoi dkfjodif dtran van phi ho vaf ten nganh tin hoc ung dung dfjl toi d ffdfoi dkfjodif dtran van phi ho vaf ten nganh tin hoc ung dung </p>
									</div>
									
									
								</div>


							</li>
							<li class="list-group-item">
							
								<div class="list-content">
									<a href="#"><h2>Tiêu đề bài viết</h2></a>
									<div class="decription">
										<ul class="ul_decription">
											<li class="li_decription">
												<p>thành phố hồ chí minh</p>
												<p>thuộc danh mục</p>
											</li>
											<li class="li_decription">
												<p>giá tiền : 500000</p>
											</li>
											<li class="li_decription li_decription_last">
												<p>Công ty</p>
											</li>

										</ul>
										
									</div>
									<div class="content_detail">
										<p>dfgalk klfhas f lkdfjslkjf kjfdfjl toi d ffdfoi dkfjodif dtran van phi ho vaf ten nganh tin hoc ung dung dfjl toi d ffdfoi dkfjodif dtran van phi ho vaf ten nganh tin hoc ung dung dfjl toi d ffdfoi dkfjodif dtran van phi ho vaf ten nganh tin hoc ung dung dfjl toi d ffdfoi dkfjodif dtran van phi ho vaf ten nganh tin hoc ung dung </p>
									</div>
									
								</div>
								
								<nav aria-label="Page navigation" style="text-align: center;">
									<ul class="pagination">
									<li>
									<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									</a>
									</li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li>
									<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									</a>
									</li>
									</ul>
								</nav>
							</li>

							
						</ul>
						

					
								
							
						

					</div>
					
				</div>

			</div>
		</div>